*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    /* width: 100vw; */
    background-position: center center;
    background-size: cover;
    font-family: "Merriweather Sans", sans-serif;
    transition-duration: 1s;
    overflow: hidden;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
  }
  .btns{
    height: 30px;
    /* padding: 30px !important; */
    margin: 20px;
  }
  
  
  
  